DEBUG=True
SECRET_KEY=django-insecure-tu-clave-secreta-cambiala-en-produccion
DATABASE_URL=sqlite:///db.sqlite3
RENDER=False
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@<your_cloud_name>
